extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(prev-hide, next-hide, menu-hide)

		header.wow.up
			+image('logo.png', 'logo')
		
		section.sec1.up
			+image('img01.png', 'img left')
			.boxText.right
				h1 Atuação intersetorial entre educação e assistência social para acelerar os ODS
				p A parceria entre o Itaú Social, o Congemas (Colegiado Nacional de Gestores Municipais de Assistência Social) e a Lab Social resultou no curso "Educação Integral e Assistência Social: conexões e redes de direitos", visando interseções entre Assistência Social e Educação para promover os direitos humanos e a Educação Integral de crianças e adolescentes em vulnerabilidade. O objetivo é promover a integração entre educação e assistência social em territórios vulneráveis, abordando direitos humanos contemporâneos, a Agenda 2030 e os ODS (Objetivos de Desenvolvimento Sustentável).
				p Focada em educadores, esta trilha oferece estratégias para uma educação integral e intersetorial, buscando construir escolas e comunidades mais inclusivas, inovadoras e transformadoras.
		
		section.sec2.up
			h2.up O que veremos nesta trilha?
			.flex
				.box.up
					.block
						.num
							h3 01
						.info
							p Direitos Humanos na visão contemporânea
					ul
						li 
							p Direitos humanos em perspectiva decolonial: por uma educação que promova a diversidade humana
				.box.up
					.block
						.num
							h3 02
						.info
							p Programa Nacional de Direitos Humanos e a Educação em Direitos Humanos 
					ul
						li 
							p Educação em Direitos Humanos
				.box.up
					.block
						.num
							h3 03
						.info
							p Objetivos de Desenvolvimento Sustentável e sua territorialização
					ul
						li 
							p Mapa Social: pesquisa e inovação social na localização dos ODS
				.box.up
					.block
						.num
							h3 04
						.info
							p Intersetorialidade entre Assistência Social e Educação
					
		section.sec3.up.completeScorm
			.box.up
				p Que este material seja uma fonte de inspiração para práticas educativas integradas e unificadas, com o propósito de inovar socialmente e transformar vidas. Acreditamos no poder da educação e da assistência social para promover mudanças positivas em nossas comunidades.
		
		footer.up
			+image('logo-footer.png', 'imgFooter')

block scripts
	script(src="script.js")